body{
	background-color: gray;

}
#parent{
	background-color:#F2F3F4  ;
	margin:1%; 
	display: flex;
	justify-content: space-around;
	border-radius: 5%;
	height: 80%;
}
.child1{
	background-color:#262243 ;
	color:#C0C0C0;
	margin:1%; 
	text-align: center;
	padding: 1%;
	border-radius: 5%;
	box-shadow: 4px 4px 4px 4px ;
	width: 15%;
	height: 95%;
	
}
.child2{
	background-color:#262243 ;
	color:#C0C0C0;
	margin:1%; 
	padding:3%;
	border-radius: 5%;
	box-shadow: 4px 4px 4px 4px ;
	width: 70%;
	height: 90%;
	
}
.table1{
	overflow: hidden;
}

.name>img{
	height:30%; 
	width :50%;
	margin-top: 1%;

}
.child1:hover{
	box-shadow: 4px 4px 4px 4px #DAF7A6 ;
}
.child2:hover{
	box-shadow: 4px 4px 4px 4px  #DAF7A6;
}
/*moblie view*/
@media  screen and (min-width: 320px) and (max-width: 480px){
#parent{
	display: inline-block;
	margin:1%;
}
.child1{
	width: 80%;
	margin: 1%;
	height: 15%;	
}
p{
	font-size: 25px;
}
.name>img{
	height:50%;
}
.child2{
	width: 92%;
	margin: 1%;	
	height: 90%;
}
}
/*tab view*/
@media screen and (min-width: 481px) and (max-width: 720px){
#parent{
	display: inline-block;
	margin: 1%;
}
.child1{
	width: 95%;
	margin: 1%;
	height: 20%;
	display:flex;
	flex-direction: row;	
}
.child2{
	width:95%;
}
p{
	font-size: 15px;
}
.name>img{
	height:70%;
	width: 30%;	
}
.name{
	text-align: left;
}

}